body{
    margin: auto;
    background: #FCFCFC;
}
h3{
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 500px salmon darkblue;
    font-size: larger;
}
header{
    width: auto;
    height: 80px;
    background-color: rgb(223, 255, 250);
}
#brand{
    float: left;
    margin-left: 3%;
    margin-top: 1%;
    color: rgb(58, 57, 58);
    font-size: xx-large;
    font-weight: bolder;
}
*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
nav ul{
    float: right;
    margin-right: 50px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}
a.active,a:hover{
    background: rgb(255, 196, 147);
    transition: .5s;

}
#banner{
    background-image: url(../image/banner.jpg);
    height: 390px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    }
.aboutme{
    width: 100%;
    height: 300px;
    margin-top: 30px;
}
.shadow{
    display: flex;
    background: #FFFFFF;
    width: 90%;
    height: 300;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#aboutdivimage{
    width: 20%;
    margin-left: 5%;
    height: 300px;
    float: left;
}
#aboutdivimage img{
    width: 260px;
    height: 260px;
    margin: 40px -35px;
    border-radius: 50%;
    border: 2px salmon double;
}
#divsidetext{
    height: 300px;
    width: 70%;
    float: right;
    margin-top: 3.5%;
    font-size: larger;
    margin-left: 4%;
    
}
li{
    text-decoration: none;
    text-transform: uppercase;
    float: left;
    padding-top: 10px;
    padding: 7px 8px;
}
#partation{
    width: 40%;
    height: 300px;
    background: #FFFFFF;
    border-radius: 15px;
}
#paragraph{
    font-size: large;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}
.showcase{
    height: 300px;
    width: 60%;
    background: #FFFFFF;
    display: flex;
    border-radius: 15px;
}
.showcase1{
    height: 300px;
    width: 50%;
}
.showcase1 img{
    width: 355px;
    height: 280px;
    margin-left: 5px;
    margin-top: 10px;
    border-radius: 10px;
}
#Skills{
    margin-left: 10px;
    padding: 30px 13px;
    line-height: 28px;

}
th, td {
    padding: 2px;
  }
#showcase{
    height: 250px;
    width: 57%;
    float: right;
    margin-top: 3.5%;
    font-size: larger;
    margin-left: 4%;
}
